<div id="wrap" class="block">
	<h2>Study Types</h2>

	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<div id="buttons">
			<input type="button" name="all" value="All" (click)="checkAll(form)" class="button button-small">
			<input type="button" name="none" value="None" (click)="checkNone(form)" class="button button-small">
		</div>

		<div id="checkbox-wrap">
			<div id="form-line-wrap" *ngFor="let checkbox of data">
				<div formGroupName="checkboxes">
					<label>
						<input type="checkbox" [formControlName]="checkbox.id" (change)="setMessage()">
						{{ checkbox.name }}
					</label>
				</div>
			</div>
		</div>

		<div id="message">{{ message }}</div>
	</form>
</div>