#wrap{
	display: inline-block;
	border: 2px solid #e6faff;
	width: 400px;
	margin: 10px;
}

#wrap h2{
	padding: 10px;
	font-size: 23px;
	font-weight: bold;
	background-color: #e6faff;
	color: #007a99;
}

#wrap form{
	padding: 10px;
	width: 80%;
	margin: 0px auto;
}

#wrap #message{
	margin-top: 30px;
	padding: 10px;
	border: 1px solid red;
}

#form-line-wrap{
	display: block;
	margin-bottom: 2px;
	overflow: hidden;
	height: 20px;

	padding-top: 5px;
	padding-bottom: 0px;
	font-size: 20px;
}
#form-line-wrap input{
	display: inline;
	float: left;
}
#form-line-wrap label{
	display: inline;
	float: left;
	line-height: 15px;
}
#form-line-wrap span{
	display: inline;
	vertical-align: -50px;
	width: 10px;
	height: 10px;
	float: right;
	border: 1px solid black;
}

#buttons{
	overflow: hidden;
}
#buttons button{
	background-color: white;
	border: 1px solid lightgray;
	padding: 5px;
	width: 60px;
	float: left;
}
#buttons #all{
	border-right: none;
}