<div id="wrap" class="block">
	<p id="label">Genes:</p>

	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<div formGroupName="radio">
			<label>
				<input type="radio" value="all" formControlName="gene" (change)="setMessage()">
				All
			</label>

			<label>
				<input type="radio" value="gene-symbols" formControlName="gene" (change)="setMessage()">
				Gene Symbols
			</label>

			<label>
				<input type="radio" value="gene-sets" formControlName="gene" (change)="setMessage()">
				Gene Sets
			</label>

			<label>
				<input type="radio" value="gene-weights" formControlName="gene" (change)="setMessage()">
				Gene Weights
			</label>
		</div>

		<button type="submit">Submit</button>

		<div id="message">{{ message }}</div>
	</form>
</div>