<!--
<div id="wrap">
	<h2>Phenotypes</h2>

	<form [formGroup]="form" (ngSubmit)="onSubmit()" >
		<div id="buttons">
			<button id="all">All</button>
			<button id="none">none</button>
		</div>
		<br>

		<input type="text" formControllName="test">
		<input type="text" formControllName="other">

		<div id="message">
			<p style="color: red"></p>
		</div>

		<button type="submit">Submit</button>

		<p>{{ form.value | json }}</p>
	</form>
</div>
-->

<div id="wrap">
	<h2>Phenotypes</h2>

	<form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)" >
		<div id="buttons">
			<button id="all">All</button>
			<button id="none">none</button>
		</div>
		<br>

		<input type="text" name="testone" ngModel [ngModelOptions]="{standalone: true}">
		<input type="text" name="testtwo" ngModel [ngModelOptions]="{standalone: true}">

		<div id="message">
			<p style="color: red"></p>
		</div>

		<button type="submit">Submit</button>
	</form>
</div>