<div id="wrap">
	<h2>Phenotypes</h2>

	<form #form="ngForm" (ngSubmit)="onSubmit(form)">
		<div id="buttons">
			<button id="all">All</button>
			<button id="none">None</button>
		</div>
		<br>

		<div *ngFor="let checkbox of data" id="form-line-wrap">
			<input type="checkbox" name="{{ checkbox.description }}" [(ngModel)]="checkbox.checked" (change)="checkStatus(form)">
			<label>{{ checkbox.description }}</label>
		</div>

		<div id="message">
			<p style="color: red">{{ message }}</p>
		</div>

		<button type="submit">Submit</button>

	</form>
</div>