<div id="wrap">
	<h2>Phenotypes</h2>

	<form [formGroup]="form" (ngSubmit)="onSubmit()" >
		<div id="buttons">
			<button id="all">All</button>
			<button id="none">none</button>
		</div>
		<br>

		<input type="text" formControllName="test">
		<input type="text" formControllName="other">

		<div>
			<!--<div *ngFor="let cb of data; let i = index" id="form-line-wrap">
				<input type="checkbox" name="label" [value]="cb.description" formControlName="{{i}}" [(ngModel)]="cb.checked">
				<label>{{cb.description}}</label>
				<span [ngStyle]="{background: cb.color}"></span>
			</div>-->
		</div>

		<div id="message">
			<p style="color: red"></p>
		</div>

		<button type="submit">Submit</button>

		<p>{{ form.value | json }}</p>
	</form>
</div>