#wrap{
	display: inline-block;
	float: left;
	padding: 8px;
	width: 220px;
	height: 100%;
	float: left;
}

#wrap h2{
	font-size: 20px;
	margin-bottom: 10px;
}

#buttons{
	margin-bottom: 10px;
}

#checkbox-wrap{
	margin-bottom: 10px;
}

#form-line-wrap{
	margin-bottom: 1px;
	overflow: hidden;
}

#form-line-wrap input{
	float: left;
}

#form-line-wrap label{
	float: left;
	margin-left: 3px;
}

#message{
	margin-bottom: 10px;
}

.block{
	display: inline-block;
	background-color: #e6e6e6;
}