<div id="wrap">
	<h2>Effect Types</h2>

	<form #form="ngForm" (ngSubmit)="onSubmit(form)">
		<div id="buttons">
			<input type="button" name="all" value="All" (click)="checkAll(form)">
			<input type="button" name="none" value="None" (click)="checkNone(form)">
		</div>

		<div id="checkbox-wrap">
			<div id="column-wrap">
				<div *ngFor="let column of data" id="column">
					<h3>{{ column["column-name"] }}</h3>
					<div *ngFor="let checkbox of column.data" id="form-line-wrap">
						<input type="checkbox" name="{{ checkbox.id }}" [(ngModel)]="checkbox.checked" (change)="checkStatus(form)">
						<label>{{ checkbox.description }}</label>
					</div>
				</div>
			</div>
		</div>

		<div id="message">
			<p style="color: red">{{ message }}</p>
		</div>
	</form>
</div>