<div id="wrap" class="block">
	<h2>Variant Types</h2>

	<form #form="ngForm" (ngSubmit)="onSubmit(form)">
		<div id="buttons">
			<input type="button" name="all" value="All" (click)="checkAll(form)" class="button button-small">
			<input type="button" name="none" value="None" (click)="checkNone(form)" class="button button-small">
		</div>

		<div id="checkbox-wrap">
			<div *ngFor="let checkbox of data" id="form-line-wrap">
				<input type="checkbox" name="{{ checkbox.id }}" [(ngModel)]="checkbox.checked" (change)="checkStatus(form)">
				<label>{{ checkbox.name }}</label>
			</div>
		</div>

		<div id="message">
			<p style="color: red">{{ message }}</p>
		</div>
	</form>
</div>