table{
	display: block;
	/*background-color: #b3d1ff;*/
	overflow: hidden;
	min-height: 100px;
	/*box-shadow: 2px 2px 2px #888888;*/
	width: 1300px;
	margin: 10px 0px;
}

td, th{
	width: 500px;
}

td, th{
	border: 1px solid black;
}

.right{
	display: block;
	text-align: right;.
	margin-right: 8px;
}
.left{
	display: block;
	text-align: left;
	margin-left: 8px;
}