#form{
	display: block;
	width: 1350px;
	margin: 0px auto;
}

#form-wrap{
	display: block;
	background-color: #eaeffa;
	overflow: hidden;
	width: 100%;
}

.button{
	display: inline-block;
	width: 80px;
	height: 32px;
	background-color: #eaeffa;
	border: 2px solid #d6e0f5;
}