<div id="form">
	<div id="form-wrap">
		<app-gene [formValue]="value"></app-gene>
	</div>

	<div id="form-wrap" class="specific">
		<app-phenotype  (phenotypeChanged)="handlePhenotype($event)" (validityChanged)="handleValidity($event)"></app-phenotype>
		<app-child-gender (childGenderChanged)="handleChildGender($event)" (validityChanged)="handleValidity($event)"></app-child-gender>
		<app-variant-types (variantTypesChanged)="handleVariantTypes($event)"></app-variant-types>
		<app-study-types (studyTypesChanged)="handleStudyTypes($event)"></app-study-types>
		<app-effect-types-form (effectTypesChanged)="handleEffectTypes($event)"></app-effect-types-form>
	</div>
	
	<button type="submit" (click)="submitForm(value)" class="button">Search</button>
	
	<!-- Displaying the form values
	<div>
		<p>Phenotype value: {{ value.phenotype | json }}</p>
		<p>Child Gender value: {{ value['child-gender'] | json }}</p>
		<p>Variant Types value: {{ value['variant-types'] | json }}</p>
		<p>Study Types value: {{ value['study-types'] | json }}</p>
		<p>Effect Types value: {{ value['effect-types'] | json }}</p>
	</div>
	-->

	<app-search-result [formValue]="value" [hidden]="display"></app-search-result>
</div>