#form{
	display: block;
	width: 1310px;
	margin: 5px auto;
	overflow: hidden;
}

#form-wrap{
	display: block;
	background-color: #b3d1ff;
	overflow: hidden;
	height: 318px;
	box-shadow: 2px 2px 2px #888888;
	width: 1300px;
}