<div id="form-wrap">
	<app-phenotype-form  (phenotypeChanged)="handlePhenotype($event)"></app-phenotype-form>
	<app-child-gender (childGenderChanged)="handleChildGender($event)"></app-child-gender>
	<app-variant-types (variantTypesChanged)="handleVariantTypes($event)"></app-variant-types>
	<app-study-types (studyTypesChanged)="handleStudyTypes($event)"></app-study-types>
	<app-effect-types-form (effectTypesChanged)="handleEffectTypes($event)"></app-effect-types-form>
</div>

<!-- Displaying the form values
<div>
	<p>Phenotype value: {{ value.phenotype | json }}</p>
	<p>Child Gender value: {{ value['child-gender'] | json }}</p>
	<p>Variant Types value: {{ value['variant-types'] | json }}</p>
	<p>Study Types value: {{ value['study-types'] | json }}</p>
	<p>Effect Types value: {{ value['effect-types'] | json }}</p>
</div>
-->