<form>
	<div id="buttons">
		<button (click)="checkAll()" [disabled]="allButtonState()">All</button>
		<button (click)="checkNone()" [disabled]="noneButtonState()">None</button>
	</div>
	<br>

	<div *ngFor="let cb of checkboxes" style="width: 250px">
		<label>
			<input type="checkbox" [(ngModel)]="cb.state" name="label" (change)="cbState()">
			{{cb.description}}
		</label>
		<span style="width: 10px; height: 10px; background-color: limegreen; display: inline-block; float: right; border: 1px solid black" [ngStyle]="{background: cb.color}"></span>
	</div>

	<div id="message">
		<p style="color: red">{{message}}</p>
	</div>
</form>