<div>
	<h2>Phenotypes</h2>
	
	<div id="buttons">
		<button (click)="checkAll()">All</button>
		<button (click)="checkNone()">None</button>
	</div>
	<br>

	<form #f="ngForm">
		<input type="checkbox" (click)="a()"><label>autism</label><br>	
		<input type="checkbox"><label>congenital heart disease</label><br>
		<input type="checkbox"><label>epilepsy</label><br>
		<input type="checkbox"><label>intelectual disability</label><br>
		<input type="checkbox"><label>schizophrenia</label><br>
		<input type="checkbox"><label>unaffected</label><br>
	</form>
</div>