<form>
	<div id="buttons">
		<button (click)="checkAll()" [disabled]="allButtonState()">All</button>
		<button (click)="checkNone()" [disabled]="noneButtonState()">None</button>
	</div>
	<br>

	<!--<label><input type="checkbox">autism</label><br>
	<label><input type="checkbox">congenital heart disease</label><br>
	<label><input type="checkbox">epilepsy</label><br>
	<label><input type="checkbox">intelectual disability</label><br>
	<label><input type="checkbox">schizophrenia</label><br>
	<label><input type="checkbox">unaffected</label><br>-->

	<div *ngFor="let cb of checkboxes"><label><input type="checkbox" [(ngModel)]="cb.state" name="label">{{cb.label}}</label><br></div>

	<div id="message" *ngIf="noneButtonState()">
		<p style="color: red">Select at least one!</p>
	</div>
</form>