<div id="wrap">
	<h2>Phenotypes</h2>

	<form>
		<div id="buttons">
			<button (click)="formChecker.checkAll()" [disabled]="formChecker.allButtonState()" id="all">All</button>
			<button (click)="formChecker.checkNone()" [disabled]="formChecker.noneButtonState()" id="none">None</button>
		</div>
		<br>

		<div *ngFor="let cb of formChecker.checkboxes" id="form-line-wrap">
			<input type="checkbox" [(ngModel)]="cb.state"name="label" (change)="formChecker.cbState()">
			<label>{{cb.description}}</label>
			<span [ngStyle]="{background: cb.color}"></span>
		</div>

		<div id="message">
			<p style="color: red">{{formChecker.message}}</p>
		</div>
	</form>
</div>